*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins" , sans-serif;
    background-color: #f9f9f9;
}
.section_name{
    text-align: center;
    padding:0 400px;
}
.section_name h2{
    padding: 15px 0;
    font-size: 38px;
    color: #190a32;
}
.section_name p{
    margin-bottom: 15px;
    font-size: 14px;
    color: #666666;
}
.container{
    width: 1240px;
    margin: 0 auto;
   
}
.row{
    display:flex;
    flex-wrap: wrap;
}
.col-4{
    width: calc(100% / 12 * 4 );
    padding: 4%;
}


.card{
    text-align: center;
    border-radius: 10px;
}
img{
   margin-bottom: 35px;
    
}
.card_title{
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;   
    position: relative;
}
h5{
    margin-bottom: 15px;
    font-size: 20px;
}
p{
    margin-bottom: 15px;
} 
.button{
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, #ff65bd, #8046ff);
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card :hover .button{
    color: #ff65bd;
    background-color: #ff65bd;
}
@media (min-width:617px)  and (max-width: 1097px){
    .container{
        max-width: 800px;
    }
    .col-6{
        width: calc(100% /12 * 6);

    }

}
@media (min-width:200px) and (max-width:616px) {
    .container{
        max-width: 400px;
    }
    .col-12{
        width: calc(100% / 12 * 12);
    }
}
    
